body {
  /* background-image: url("./images/background.jpg");
  background-size: 185%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; */
  margin: auto;
}

html {
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  height: 15vh;
  background-image: url("./images/pokemon-header.jpg");
  background-size: 120%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
}

.header {
  color: white;
  font-size: 70px;
  font-family: "Press Start 2P", cursive;
  -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black;
  margin: auto;
}

h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  text-shadow: 2px 2px 2px black;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  margin-bottom: -1.5em;
}

.main-container {
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "one battle two";
  margin-top: 2em;
}

.pokemon-1 {
  grid-area: one;
  text-align: center;
}

.pokemon-2 {
  grid-area: two;
  text-align: center;
}

img {
  margin-top: 0.5em;
}

#battle-section {
  grid-area: battle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#generate-pokemon {
  font-size: 18px;
  font-family: "Press Start 2P", cursive;
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px 2px black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  background: url("./images/pokeball_PNG8.png");
  background-size: 100%;
  background-position: center;
  height: 68px;
  width: 220px;
  border-radius: 50%;
  margin-bottom: 1em;
}

li {
  font-family: "Goldman", cursive;
  font-size: 35px;
  line-height: 3px;
  color: white;
  text-shadow: 2px 2px 2px black;
  list-style-type: disc;
  margin-top: -1em;
  letter-spacing: 2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#battle-image {
  transition: all 0.2s ease-in-out;
}

#battle-image:hover {
  transform: scale(2.5);
}

.pokedex {
  height: 80px;
  width: 80px;
  background-color: transparent;
  border: none;
  font-family: "Goldman", cursive;
  font-size: 15px;
  color: white;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
  padding-top: 10px;
  background-image: url("./images/pokedex.png");
  background-position: center;
  background-size: 100%;
  margin-top: 2em;
}

.pokedex-box {
  font-family: "Goldman", cursive;
  font-size: 25px;
  text-shadow: 1px 1px 2px rgb(32, 32, 32);
  color: white;
  text-align: center;
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: black;
}
